# Ignore virtual environment
venv/

# Ignore output files
output/
*.mp4
*.mp3

# Ignore environment variables
.env
.env.example

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo

_run_migrations.py

./output/
# OS
.DS_Store
Thumbs.db

# Logs
*.log
tests
teat/*

# Whisper model cache
~/.cache/whisper/
assets/*